<link rel="stylesheet" href="../css/styles.css"/>
<div id="results-page" class="container d-flex flex-column justify-content-center align-items-center">
  <% results.forEach(book => { %>
      <div>
        <a href="/books/details<%=book.key%>"> <h3><%= book.title %></h3></a>
      </div>
    <% }) %>
</div>