<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Special+Elite" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>The Bibliofiles</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" id="navBarBrand">The Bibliofiles</span>
      </button>
      <div class="navbar-collapse" id="navbarSupportedContent">
                 <!-- if the user is logged in -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">Profile</a>
          </li>
        </ul>
            <form method="GET" action="/books/results" class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search books or authors"id="search" name="bookSearch" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          <%}else{%>
            <!-- if the the user is not logged in -->
          <li class="nav-item">
            <a class="nav-link" href="/users/new">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Login</a>
          </li>
        </ul>
        <%}%>
        <div>
          <input type="checkbox" id="check" class="toggle">
          <label for="check">Dark Mode</label>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <%- body %> 
  </main>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>