<% if (msg) { %> 
    <div>
        <p><%= msg %> </p>
    </div>
<% } %> 



<form method="POST" action="/users/new">
    <label for="username">Username</label>
    <input id="username" type="username" name="username" placeholder="Enter your username" required/>

    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Enter your email" required/>
    
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter your password" required/>

    <button type="submit">Sign Up!</button>
</form>