<h2><%= user.username %>'s Profile</h2>



<form method="GET" action="/books/results">
    <label for="search"></label>
    <input type="text"  id="search" name="bookSearch" />
    <input type="submit" />
  </form>


  <h3>Your Saved Books</h3>

  <ul>
    <% savedBooks.forEach(book => { %> 
      <li><%= book.title %> </li>
      <% }) %> 
  </ul>